.post {
  display: block;
  flex: 1 0 0%;
  width: 100%;
  maxwidth: 290.1;
  position: relative;
}

.imageContainer {
  flexdirection: column;
  flexshrink: 0;
  position: relative;
  overflow: hidden;
}

.bottomImage {
  flexdirection: column;
  flexshrink: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image {
  margin: 0;
  height: 100%;
  width: 100%;
  verticalalign: baseline;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backgroundcolor: rgba(0, 0, 0, 0.3);
  display: flex;
  justifycontent: center;
  alignitems: center;
  color: white;
}
